<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>列表页面</title>
    </head>
    <body>
        <div class="container">
            <table border="1" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>年龄</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <th th:text="${user.password}"></th>
                    <td th:text="${user.age}"></td>
                    <td>
                        <a th:href="@{/update(id=${user.id})}">修改</a>
                        <a th:href="@{/delete(id=${user.id})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>